body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --------------- Navbar styles -------------------------------- */

.navBg {
  background: #22b4c2;
}

.navLogo {
  font-size: 28px;
}

.navTabs{
  font-size: 20px;
}

.dropTab {
  line-height: 30px;
}

.createTab {
  font-size: 22px;
}

ul {
  margin-bottom: 0px;
}
.icon {
  text-decoration: none;
  list-style-type: none;
}
 
.icon a i {
  font-size: 32px;
  margin: 0 8px;
}

.icon a .faceIcon  {
  color: 	blue;
}

.icon a .tweetIcon {
  color: #00acee;
}

.icon a .youtubeIcon  {
  color: 	#FF0000;
}

/* --------------- movie Article styles -------------------------------- */

.movieArticle {
  width: 45%;
  padding: 210px 0;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: rgb(163, 162, 162);
}

.movieArticle .movieArticleBtn {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

/* --------------- movie Article styles -------------------------------- */

.collectionsDiv {
  width: 100%;
  position: relative;
  max-height: 450px;
  padding: 50px;
  background: rgb(163, 162, 162);
}

.collectionsDiv .collectionsDivBtn {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.collectionsWrapper{
  max-height: 250px;
  display: flex;
  overflow-x: auto;

}

  .item {
  height: 200px;
  text-align: center;
  min-width: 250px !important;
  background: #fff;
  border-radius: 6px;
   
}



/* --------------- trends styles -------------------------------- */

.trends {
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
}

.trends .trendsContainer {
  width: 45%;
  padding: 180px 0;
  background: rgb(203, 202, 202);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.trends .trendsDivBtn {
  position: absolute;
  bottom: 15px;
  right: 20px
}

.reviewsContainer {
  padding: 50px;
  background: rgb(114, 114, 114);
}

.reviewPoster {
  height: 250px;
  width: 200px;
  padding: 20px;
}

.reviewstar {
  width: 70px;
  height: 30px;
}

.movieReviewDiv {
  background:  rgb(114, 114, 114);
  height: 30rem;
  overflow: hidden;
  overflow-x: auto;
}

.reviewCard {
  width: 15rem;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
}

.reviewCard .reviewCardImg {
  height: 210px;
  width: 230px;
  border-radius: 6px 6px 0 0;

}

.reviewWrapper {
  height: 30rems !important;
  display: flex;
  overflow-x: auto;
}


